/*class para textos*/

.centrado { 
text-align: center;
}

.margintop{
	margin-top: 20px;

}

.marginbottom{
	margin-bottom: 20px;
}


/*FIN class para textos*/

.caja { 
width: 40%;
display: inline-block;
}



.cajabox{
	border: 1px solid black;
}

.caja h4{ 

}

.topimg {
	width:100%;
	height:auto;
}

.centerimg {
	width:100%;
	height:auto;
}

.toppng {
margin-top:-60%;
margin-left:29%;
/*	position: absolute;*/
/*	height:auto;*/
}

.toppngcontainer {
/*	width:100%;*/
	height:auto;
	position: absolute;
}

.gris {
	background-color: #dddddd;
}

.jumby {
padding:10px!important;
margin-left:-5px;
width:190px;
}

.jumbies{
margin-left:50%;
padding-left:0px;
width:0px;
}

.jumbiecenterer{
width:390px;
margin-left:-195px;
}

.interjumby {
padding:0px!important;
width:0px;
margin:10px;
background-color:transparent;
/* border:solid black 1px; */
}

#cajagris {
background-color: #dddddd;
width: 100%;
}

#cajafoto {
background-image:url('header.jpg');
width: 100%;
}

.puntito{
font-family:'Lucida Casual', 'Comic Sans MS';
font-size:42px;
}

.facebook{
/* border: solid 1px black; */
width:32px;
height:32px;
text-align:center;
border-radius:4px;
background-color:#fff;
color:#7E8B8D;
margin-top:-50px;
right: 165px;
position:absolute;
}

.facebook:hover{
color:black;
}

.facebooklarge{
/* border: solid 1px black; */
width: 102px;
height: 30px;
text-align: center;
border-radius: 4px;
background-color: #2980B9;
color: white;
margin-top: -50px;
left: -15px;
position: absolute;
}

.facebooklarge:hover{
color:black;
}

.twitter{
width:32px;
height:32px;
text-align:center;
border-radius:4px;
background-color:#fff;
color:#7E8B8D;
margin-top:-50px;
right: 125px;
position:absolute;
}

.twitter:hover{
color:black;
}

.twitterlarge{
width: 82px;
height: 30px;
text-align: center;
border-radius: 4px;
background-color: #3499DB;
color: white;
margin-top: -50px;
right: -25px;
position: absolute;
}

.twitterlarge:hover{
color:black;
}

.entradas{
width: 91px;
height:32px;
text-align:center;
border-radius:4px;
background-color:#fff;
color:#7E8B8D;
margin-top:-50px;
right:25px;
position:absolute;
line-height: 32px;
}

.entradas:hover{
color:#E74C3C;
}

.chulotype{
width: 126px;
height: 32px;
text-align: center;
border-radius: 4px;
background-color: black;
color: #7E8B8D;
margin-top: -50px;
right: 42%;
position: absolute;
}

.chulotype:hover{
color:black;
}

.nav>li>a {
position: relative;
display: block;
padding: 0px 0px;
}

/*Carousel*/

.carousel-inner {
position: relative;
overflow: hidden;
width: 100%;
margin-bottom: 0px;
}

#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
	background:#eee;
	margin-bottom: 100px;
}
#myCarousel .nav a {
    border-radius:0px;
}




@media (max-width:768px) {
	.topimg{
	width:170%;
	margin-left: -70%;
	height:auto;
	}

/*	.centerimg{
	width:100%;
	margin-left: -70%;
	height:auto;
	}*/

	.toppng{
	margin-top:-58%;
	margin-left:16%;
	width:68%;
	}

}