.caja { 
width: 40%;
display: inline-block;

}

.cajabox{
	border: 1px solid black;
}

.caja h4{ 

}

.topimg {
	width:100%;
	height:auto;
}

.toppng {
margin-top:-60%;
margin-left:29%;
/*	position: absolute;*/
/*	height:auto;*/
}

.toppngcontainer {
/*	width:100%;*/
	height:auto;
	position: absolute;
}

.jumby {
padding:10px!important;
margin-left:-5px;
width:190px;
}

.jumbies{
margin-left:50%;
padding-left:0px;
}

.jumbiecenterer{
margin-left:-195px;
}

.interjumby {
padding:0px!important;
width:0px;
margin:10px;
background-color:transparent;
/* border:solid black 1px; */
}


@media (max-width:768px) {
	.topimg{
	width:170%;
	margin-left: -70%;
	height:auto;
	}
	.toppng{
	margin-top:-58%;
	margin-left:22%;
	width:58%;
	}

}